.nav-before nav.navbar {
  height: 100px;
  justify-content: center;
}
.nav-before .main-nav {
  display: flex;
  justify-content: end;
}
.nav-before nav .nav-fluid {
  justify-content: center !important;
}
.nav-before nav .navigation {
  display: flex;
  justify-content: space-between;
}
.nav-before .btn-green,
.nav-before .btn-outline {
  width: 120px;
}
.nav-before .btn-outline {
  border: 1px solid #49BEB7;
}
.nav-before .btn-green {
  background-color: #32DBC6;
}
.nav-before .btn-green:hover,
.nav-before .btn-outline:hover {
  background-color: #EBEFD0;
  color: #32DBC6;
}
