* {
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', Courier, monospace;
}
.vehicle-type nav {
  height: 150px;
}
.vehicle-type nav .navigation {
  font-size: 1rem;
  padding: 0 65px;
  justify-content: flex-end;
}
.vehicle-type nav .navbar-collapse {
  padding-right: 0;
}
.vehicle-type nav .mail-profile img {
  width: 54.62px;
}
.vehicle-type .message {
  text-decoration: none;
}
.vehicle-type .total-message {
  background-color: #49BEB7;
  position: relative;
  top: -18px;
  margin-right: -18px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
}
.vehicle-type .icon-message {
  font-size: 55px;
  color: #0d9299;
}
.vehicle-type .profile img {
  border-radius: 30px;
}
.vehicle-type nav form {
  height: auto;
}
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 253, 233, 0.25) !important;
}
.vehicle-type nav form {
  margin: 0;
}
.vehicle-type nav form input::placeholder {
  font-size: 15px;
}
.vehicle-type nav input.form-control {
  padding-left: 8px;
}
/* .vehicle-type nav input.form-control:focus,
.vehicle-type nav input.form-control:hover {
  padding-right: 45px;
} */
.vehicle-type nav form button {
  height: fit-content;
}
.vehicle-type nav form .search-icon {
  font-size: 25px;
  vertical-align: baseline;
  padding-right: 0;
  color: #B8BECD;
}
.vehicle-type nav form .search-icon:hover {
  color: black;
} 

/* form */
.vehicle-type form, .vehicle-type button {
  height: 72px;
}
.vehicle-type form {
  margin-top: 180px;
}
.vehicle-type form input::placeholder {
  font-size: 19px;
  color: #B8BECD !important;
}
.vehicle-type form .form-control {
  padding-left: 75px;
  padding-right: 80px;
}
.vehicle-type form .form-control:focus,
.vehicle-type form .form-control:hover {
  padding-right: 100px;
}
.vehicle-type form .search-icon {
  font-size: 25px;
  padding-right: 40px;
}

/* section */
.vehicle-type  section {
  margin-top: 160px;
}
.vehicle-type h2 {
  font-family: 'Playfair Display', Times, serif;
  font-weight: bold;
}
.vehicle-type section p {
  margin: 80px 0;
}
.vehicle-type .head {
  margin-bottom: 40px;
}
.vehicle-type .view-all {
  text-decoration: none;
  color: #49BEB7;
}
.vehicle-type .parrent-img {
  padding: 10px;
}
.vehicle-type .img-section {
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
  height: 337px;
}
.vehicle-type section img {
  border-radius: 10px;
  margin-bottom: 15px;
  /* width: 284px;
  height: 337px; */
  
}
.vehicle-type section a {
  text-decoration: none;
}
.vehicle-type section .highlight {
  margin-top: -67px;
  position: relative;
  background-color: #ffff;
  width: 120px;
  height: 56px;
  border-radius: 0px 6px 0px 0px;
  font-family: 'Nunito', sans-serif;
  color: #042521;
}
.vehicle-type section .highlight h5 {
  color: #042521;
  font-weight: 600;
  font-size: 17px;
}
.vehicle-type section .highlight span {
  font-size: 17px;
  color: #686767;
}
@media all and (max-width: 991px) {
  nav {
    height: 95px;
  }
  .vehicle-type nav .container-fluid {
    justify-content: space-between !important;
  }
  .vehicle-type nav .navigation#navbarNav {
    align-items: flex-end;
    flex-direction: column;
    margin: 20px 0;
    padding: 0;
  }
  .vehicle-type .navbar-nav,
  .vehicle-type .mail-profile {
    width: 100%;
  }
  .vehicle-type .mail-profile {
    flex-direction: column;
    align-items: start !important;
  }
  .vehicle-type .mail-profile a {
    width: 100%;
  }
  .vehicle-type nav form {
    width: 100%;
    margin: 20px 0;
  }
  .vehicle-type .img-section {
    height: 277px;
  }
  .vehicle-type section {
    margin-top: 50px;
  }
  .vehicle-type section .highlight {
    margin-top: -70px;
  }
}
@media all and (max-width: 576px) {
  form .form-control {
    padding-left: 32px;
  }
}